algoliasearch==1.8.0
altgraph==0.10.2
amqp==1.4.6
anyjson==0.3.3
appnope==0.1.0
aws==0.2.5
awscli==1.9.13
awsebcli==3.5.4
backports.ssl-match-hostname==3.4.0.2
bdist-mpkg==0.5.0
beautifulsoup4==4.4.1
billiard==3.3.0.20
biopython==1.65
blessed==1.9.5
bonjour-py==0.3
boto==2.38.0
botocore==1.3.13
celery==3.1.18
cement==2.4.0
certifi==2015.4.28
characteristic==14.3.0
Collectfast==0.2.3
colorama==0.3.3
coursera==0.0.3
cssselect==0.9.1
decorator==4.0.4
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.9.4
django-celery==3.0.11
django-haystack==2.4.1
django-mongodb-engine==0.6.0
django-pipeline==1.6.7
django-pipeline-browserify==0.2.0
django-postgrespool==0.3.0
django-separatedvaluesfield==0.3.2
django-ses==0.4.1
django-statictastic==0.6.1
django-storages==1.1.8
django-toolbelt==0.0.1
djangorestframework==3.3.3
djangotoolbox==1.8.0
djenesis==1.1.1
docker-py==1.1.0
dockerpty==0.3.4
docopt==0.6.2
docutils==0.12
ecdsa==0.13.3
elasticsearch==1.9.0
Fabric==1.10.2
functools32==3.2.3.post2
gnureadline==6.3.3
greenlet==0.4.7
gunicorn==19.4.1
html5lib==1.0b8
image==1.4.4
ipykernel==4.1.1
ipython==4.0.0
ipython-genutils==0.1.0
ipywidgets==4.1.1
Jinja2==2.8
jmespath==0.9.0
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.1.1
jupyter-console==4.0.3
jupyter-core==4.0.6
kombu==3.0.26
lxml==3.5.0
macholib==1.5.1
MarkupSafe==0.23
matplotlib==1.3.1
mistune==0.7.1
mock==1.0b1
modulegraph==0.10.4
mongo==0.2.0
mongoengine==0.10.6
nbconvert==4.1.0
nbformat==4.0.1
ndg-httpsclient==0.4.0
nexmo==1.0.1
node==0.9.15
nose==1.3.7
notebook==4.0.6
npm==0.1.1
numpy==1.10.1
odict==1.5.1
optional-django==0.1.0
pandas==0.17.1
paramiko==1.15.3
path.py==8.1.2
pathspec==0.3.3
pexpect==4.0.1
pickleshare==0.5
Pillow==3.1.1
plivo==0.11.0
plumber==1.3
postgres==2.2.1
prettytable==0.7.2
psycopg2==2.6.1
ptyprocess==0.5
py2app==0.7.3
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycrypto==2.6.1
pyelasticsearch==1.4
Pygments==2.0.2
pymongo==3.2.2
pyobjc-core==2.5.1
pyobjc-framework-Accounts==2.5.1
pyobjc-framework-AddressBook==2.5.1
pyobjc-framework-AppleScriptKit==2.5.1
pyobjc-framework-AppleScriptObjC==2.5.1
pyobjc-framework-Automator==2.5.1
pyobjc-framework-CFNetwork==2.5.1
pyobjc-framework-Cocoa==2.5.1
pyobjc-framework-Collaboration==2.5.1
pyobjc-framework-CoreData==2.5.1
pyobjc-framework-CoreLocation==2.5.1
pyobjc-framework-CoreText==2.5.1
pyobjc-framework-DictionaryServices==2.5.1
pyobjc-framework-EventKit==2.5.1
pyobjc-framework-ExceptionHandling==2.5.1
pyobjc-framework-FSEvents==2.5.1
pyobjc-framework-InputMethodKit==2.5.1
pyobjc-framework-InstallerPlugins==2.5.1
pyobjc-framework-InstantMessage==2.5.1
pyobjc-framework-LatentSemanticMapping==2.5.1
pyobjc-framework-LaunchServices==2.5.1
pyobjc-framework-Message==2.5.1
pyobjc-framework-OpenDirectory==2.5.1
pyobjc-framework-PreferencePanes==2.5.1
pyobjc-framework-PubSub==2.5.1
pyobjc-framework-QTKit==2.5.1
pyobjc-framework-Quartz==2.5.1
pyobjc-framework-ScreenSaver==2.5.1
pyobjc-framework-ScriptingBridge==2.5.1
pyobjc-framework-SearchKit==2.5.1
pyobjc-framework-ServiceManagement==2.5.1
pyobjc-framework-Social==2.5.1
pyobjc-framework-SyncServices==2.5.1
pyobjc-framework-SystemConfiguration==2.5.1
pyobjc-framework-WebKit==2.5.1
pyOpenSSL==0.13.1
pyparsing==2.0.1
pysolr==3.4.0
python-dateutil==2.4.2
pytz===2012d
PyYAML==3.11
pyzmq==14.7.0
qtconsole==4.1.0
queuelib==1.4.2
redis==2.7.1
requests==2.9.1
rpy2==2.7.8
rsa==3.2.3
scipy==0.13.0b1
Scrapy==1.0.5
service-identity==14.0.0
simplegeneric==0.8.1
simplejson==3.8.2
singledispatch==3.4.0.3
six==1.10.0
South==0.7.6
SQLAlchemy==1.0.4
ssh==1.8.0
static3==0.6.1
terminado==0.5
texttable==0.8.3
tornado==4.2
traitlets==4.0.0
Twisted==13.2.0
unittest2==0.5.1
urllib3==1.12
vboxapi==1.0
virtualenv==13.1.0
w3lib==1.12.0
wcwidth==0.1.4
websocket-client==0.32.0
wget==2.2
whitenoise==1.0.6
xattr==0.6.4
zope.component==4.2.2
zope.deprecation==4.1.2
zope.event==4.0.3
zope.interface==3.6.0
zope.lifecycleevent==4.1.0
